<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
  <title>Document</title>
</head>
<body>
<div class="navbar mx-6" >
<app-header></app-header>
</div>
<hr class="border-t-2 border-black m-2">
<div class="container mx-auto animated fadeInRight">
  <div class="flex flex-row m-4 items-center justify-between px-20">
    <div class="flex flex-row items-center">
      <button routerLink="/instructor" class="mr-5 " aria-label="Go back to dashboard" data-balloon-pos="left">
        <mat-icon class=" text-3xl font-extrabold cursor-pointer transition-all transition-ease-out hover:text-orange-500">arrow_back</mat-icon>
      </button>
      <a routerLink="/newRecipe" class="cursor-pointer bg-orange-600  transition-all transition-ease-out hover:bg-orange-500 font-bold text-white tracking-wide py-2 px-4 rounded items-center rounded-full ">
        Add Recipe
      </a>
    </div>
    <div class="flex flex-row">
        <input type="text" class=" text-gray-600  w-2/3  p-2  rounded-l-lg border-2 border-blue-600" [(ngModel)]="searchValue"  (keydown.enter)="searchBarRecipe()"  placeholder="Search a Recipe" id = "searchBarRecipeText"/>
        <button class=" p-2  w-1/3  bg-blue-600  rounded-r-lg  text-white hover: bg-blue-600 tracking-widest" type="submit">Search</button>
    </div>
  </div>

  <div class="text-center" *ngIf="classs == undefined || classs.recipes == null">
    <p class=" text-2xl pr-4"> NO RECIPES TO SHOW!</p>
    <p class=" pr-4">ADD NEW RECIPES BY CLICKING THE <span class="text-orange-500 underline">ADD RECIPE</span> BUTTON ABOVE</p>
  </div>

  <ul class="ClassList  mx-auto px-20 " *ngIf="classs != null">
    <li class="classList_Element m-4 animated zoomIn transition-all transition-ease-out hover:shadow-2xl " *ngFor="let rec of displayingRecipeList">
      <div class="flex items-center bg-yellow-400 rounded p-2" >
        <div class="hidden md:block lg:w-1/3 pl-4">
          <img class="rounded " src="../../assets/bc.jpg" alt="">
        </div>
        <div class="flex flex-col lg:w-2/3 p-4">
          <div class="mainHeading font-bold text-3xl">{{rec.name}}</div>
          <div class="description py-3 tracking-normal">
            {{rec.description}} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur cum cupiditate dicta eaque earum esse et excepturi, facere id inventore ipsam iste nostrum perspiciatis praesentium saepe voluptate voluptatem voluptatibus!
          </div>
          <div class="actionDiv flex justify-start">
            <div class="bg-blue-600 hover:bg-blue-800 cursor-pointer transition-all transition-ease-out hover:shadow-2xl rounded-full py-2 px-6 text-white tracking-wider" (click) = editRecipe(rec)>
              <a class="">Edit</a></div>
            <div class=" bg-blue-600 hover:bg-blue-800 cursor-pointer transition-all transition-ease-out hover:shadow-2xl rounded-full py-2 px-6 text-white tracking-wider mx-4">
              <a (click)="deleteRecipe(rec)">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</body>
<app-footer>
</app-footer>
</html>
