<div class="text-align: center bg-red-700 flex justify-center ">
  <div>
    <button>Select Ingredients</button>
    <br>
    <button>Select Utensils</button>
  </div>
  <div id="steps">
    <div id="step">
      <label for="step-des">Describe Step</label>
      <input id="step-des">
      <select>
        <option>This</option>
        <option>That</option>
      </select>
      <select></select>
      <select></select>
      <select></select>
      <input>
    </div>
  </div>
  <button class="link" (click)="addStep()">Add new step</button><br>
  <button>PUBLISH</button>
</div>
