<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">

</head>
<body>

<div class="navbar mx-6" >
 <app-header></app-header>
</div>
<hr class="border-t-2 border-black m-2">

<div class="container mx-auto px-20">

  <div class="flex flex-row items-center justify-between my-4 px-20 text-gray-900 ">
    <div class="">
    <button routerLink="/stuDash" class="ml-5 flex" aria-label="Go back to dashboard" data-balloon-pos="right"><mat-icon class=" text-3xl font-extrabold cursor-pointer transition-all transition-ease-out hover:text-orange-500">arrow_back</mat-icon>
    </button>
    </div>
    <div class="">
    <form class="flex flex-row justify-end" (submit)="searchClass($event)">
      <input type="text" class=" text-gray-600  w-2/3  p-2  rounded-l-lg border-2 border-blue-600" placeholder="Search a Class" id = "searchBarText"/>
      <button class=" p-2 border-2 border-blue-600 w-1/3 bg-blue-600  rounded-r-lg  text-white hover:bg-blue-600 " type="submit">Search</button>
    </form>
    </div>
  </div>

  <div class="flex flex-row flex-wrap justify-center ">
    <div class="w-full lg:w-1/4 m-2  md:mb-0" *ngFor="let classe of displayingSubClassList; let i=index">
      <div  class=" bg-white rounded-lg overflow-hidden shadow relative my-4 transition-all transition-ease-out animated fadeIn cursor-pointer  hover:shadow-2xl">
        <img (click)="openRecipeDetailsDialog()" class="w-full object-cover object-center transition-all transition-ease-out hover:opacity-75" src="http://cdn.cnn.com/cnnnext/dam/assets/190624122444-15-best-greek-food-restricted.jpg" >
        <div class="flex p-4 h-auto flex-col justify-around hover:text-white ">
          <a  class="block text-blue-500 font-semibold text-lg md:text-base lg:text-lg">
            {{classe.name}}
          </a>
          <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
            {{classe.description}}
          </div>
          <div class=" mt-2 lg:inline m-2 ">
            <button [id]="i" class="inline uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-1 px-6 rounded" (click)="subscribeHandler(classe, $event)">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
