<!--<h2 mat-dialog-title></h2>-->
<mat-dialog-content class="mat-typography">
  <div class="bg-white border-b">
    <div class="container mx-auto px-4">

      <div class="flex grocery flex justify-center">
        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
            <img class="h-8 mr-2" src="../../assets/grocery/lactose-intolerant.svg" alt="">
            Dairy
          </a>
        </div>
        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
            <img class="h-8 mr-2" src="../../assets/grocery/apple.svg" alt="">
            Fruits
          </a>
        </div>
        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
            <img class="h-8 mr-2" src="../../assets/grocery/agronomy.svg" alt="">
            Grains and Beans
          </a>
        </div>
        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
            <img class="h-8 mr-2" src="../../assets/grocery/fish.svg" alt="">
            Meat
          </a>
        </div>
        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
            <img class="h-8 mr-2" src="../../assets/grocery/candy-wrap.svg" alt="">
            Confections
          </a>
        </div>
        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
            <img class="h-8 mr-2" src="../../assets/grocery/salad.svg" alt="">
            Vegetables
          </a>
        </div>
        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
            <img class="h-8 mr-2" src="../../assets/grocery/olive-oil.svg" alt="">
            Liquid
          </a>
        </div>
      </div>

      <!--      <div  class="flex grocery ">-->
      <!--        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">-->
      <!--          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">-->
      <!--            <img class="h-8 mr-2" src="../../assets/grocery/small.svg" alt="">-->
      <!--            Small-->
      <!--          </a>-->
      <!--        </div>-->

      <!--        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">-->
      <!--          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">-->
      <!--            <img class="h-8 mr-2" src="../../assets/grocery/medium.svg" alt="">-->
      <!--            Medium-->
      <!--          </a>-->
      <!--        </div>-->

      <!--        <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">-->
      <!--          <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">-->
      <!--            <img class="h-8 mr-2" src="../../assets/grocery/large.svg" alt="">-->
      <!--            Large-->
      <!--          </a>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>

  <div class="flex flex-wrap flex-row m-4">
    <div *ngFor="let ingredient of allIngredients"  class=" ">
      <button (click)="selectedIngre(ingredient)" class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2 text-black font-bold capitalize text-lg">
        {{ingredient.name}}
      </button>
    </div>
  </div>
</mat-dialog-content>
<div class="m-2">
<mat-dialog-actions align="center"><button mat-raised-button color="primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>Finish</button>
</mat-dialog-actions>
</div>

