<!--<h2 mat-dialog-title>Install Angular</h2>-->
<div class="bg-white border-b">
  <div class="container mx-auto px-4">

    <div class="flex grocery flex justify-center">
      <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
        <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
          <img class="h-8 mr-2" src="../../assets/grocery/small.svg" alt="">
          Small
        </a>
      </div>

      <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
        <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
          <img class="h-8 mr-2" src="../../assets/grocery/medium.svg" alt="">
          Medium
        </a>
      </div>

      <div class="flex -mb-px mr-8 border-transparent hover:text-blue-600 font-bold">
        <a class="no-underline flex text-blue-dark items-center py-4 border-b border-blue-dark" href="">
          <img class="h-8 mr-2" src="../../assets/grocery/large.svg" alt="">
          Large
        </a>
      </div>
    </div>

  </div>
</div>

<mat-form-field class="w-full p-4">
  <input matInput type="text" placeholder="Search for specific food" >
  <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
  </button>
</mat-form-field>


<mat-dialog-content class="mat-typography">
  <div class="flex flex-wrap flex-row m-4">
  <div *ngFor="let utensil of allUtensils">
    <button (click)="selectedUten(utensil)" class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2 text-black font-bold capitalize text-lg">
      {{utensil.name}}
    </button>
  </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>Finish
    <span class="bg-white px-1 rounded text-blue-600 text-xs ml-2">{{selectedNumber}}</span>
  </button>
</mat-dialog-actions>
