body,matexppanel{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background: white;
}
.mainarea{
  height: 60vh;
}
.bottomarea{
  height:25vh;
}
.specificheight
{
  height: 80vh;
}
.specificheightDone
{
  height: 7vh;
}
.grocer_ul_li
{
  padding: 15px 18px;
  display: flex;
  flex-direction: row;
  background: white;
  border-bottom: solid 1px white;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px -3px black;

}
/*.cdk-drop-dragging .cdk-drag {*/
/*  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);*/
/*}*/
/*.cdk-drag-animating {*/
/*  transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);*/
/*}*/
/*.cdk-drag-placeholder {*/
/*  background: rgba(0, 0, 0, .2);*/
/*}*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
