<!doctype html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
<!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

  <title>Document</title>
</head>
<body>

<div class="navbar mx-6"  >
  <app-header></app-header>
</div>
<hr class="border-t-2 border-black m-2">
<div data-depth = "1.08"><img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwilhcL55LPmAhWCB80KHUNkCKMQjRx6BAgBEAQ&url=http%3A%2F%2Ftheconversation.com%2Fa-beginners-guide-to-the-foggy-wilderness-of-ambient-music-91742&psig=AOvVaw2WgBClmUDvY_7s_YHbFsAH&ust=1576366464798318" alt=""> </div>

<div class="container mx-auto px-20 animated fadeInLeft" >
  <div class="flex flex-row m-4 items-center justify-between ">
    <div>
    <a (click)="openDialogue()" class="cursor-pointer bg-orange-600  transition-all transition-ease-out hover:bg-orange-500 font-bold text-white tracking-wide py-2 px-4 rounded items-center rounded-full ">
      Add Class
    </a>
    </div>
  <div class="flex flex-row">
      <input (keydown.enter)="searchBar()" [(ngModel)]="searchValue" id = "searchBarText" type="text" class=" text-gray-600 p-2 rounded-l-lg border-2 border-blue-600" placeholder="Search a Class"/>
      <button class="p-2 bg-blue-600 rounded-r-lg border-2 border-blue-600 text-white hover:bg-blue-500 tracking-widest" (click)="searchBar()">Search</button>
  </div>
  </div>

<!--  <div class="flex flex-row m-4 items-center justify-between ">-->
<!--    <h1 class="font-bold text-2xl">{{this.teacher.name}}'s Classes-->
<!--    </h1>-->
<!--  </div>-->


  <ul id="ClassList" class="ClassList mx-auto">
    <li class="classList_Element m-4 animated zoomIn transition-all transition-ease-out hover:shadow-2xl" *ngFor="let clas of displayingClassList">
      <div class="flex items-center bg-yellow-400 p-4 rounded">
        <div class="hidden md:block my-1 pr-4 lg:w-1/3 ">
          <img class="rounded-lg w-full" src="https://www.tiffin.com/images/structured-data/catering/photos/ctm3.jpg" alt="Image">
        </div>
        <div class ="flex flex-col lg:w-2/3">
<!--          <form id="{{clas.name}}" (submit)="searchBar()">-->
            <div class="mainHeading font-bold text-3xl">{{clas.name}}</div>
            <div class="description py-3">{{clas.description}}
            </div>
            <div class="actionDiv flex justify-start ">
              <div class=" bg-blue-600  rounded-full transition-all transition-ease-out hover:bg-blue-700 cursor-pointer hover:shadow-2xl py-1 px-6 text-white tracking-wider">
                <a (click)="goToClass(clas)"> Recipes </a></div>
              <div class=" bg-blue-600 rounded-full  transition-all transition-ease-out hover:bg-blue-700 cursor-pointer hover:shadow-2xl py-1 px-6 text-white tracking-wider mx-4" (click)="deleteClass(clas)">
                <a (click)="deleteClass(clas)">Delete</a></div>
            </div>
<!--          </form>-->
        </div>
      </div>
    </li>
  </ul>
</div>


<div class="my-32"></div>

</body>
<app-footer></app-footer>

</html>
